.interrupteur {
  width: 50px;
  height: 50px;
  .on,
  .off {
    font-size: 50px;
  }
  .on {
    color: #419c41;
  }
  .off {
    color: #e24376;
  }

  &:hover {
    .on {
      color: #3cb13c;
    }
    .off {
      color: #b6315c;
    }
  }
}

.card {
  margin: 5px;
}
