#components-layout-demo-custom-trigger,
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger,
.trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger,
.logo {
  height: 52px;
  margin: 16px;
}

header {
  background: #001529 !important;
  color: white !important;
}

.ant-card-head {
  background: #6678888a;
}
